# Maven-specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse-specific files
.project
.classpath
.settings/

# IntelliJ IDEA-specific files
.idea/
*.iml
*.iws
out/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
logs/
*.tmp
*.swp

# Spring Boot specific
*.war
*.jar


# Miscellaneous
*.class
*.jar
*.war
*.vscode
